# KiCAD
**/PCB/*.kicad_prl
**/PCB/*.xml
**/PCB/*.bak
**/PCB/*-backups
**/PCB/fp-info-cache
**/PCB/Gerbers/*
!**/PCB/Gerbers/*.zip

# MPLAB X (see https://developerhelp.microchip.com/xwiki/bin/view/software-tools/ides/x/version-control/working-with-version-control/)
**/*.X/.generated_files
**/*.X/build
**/*.X/debug
**/*.X/dist
**/*.X/nbproject/Makefile-*
**/*.X/nbproject/Package-*
**/*.X/nbproject/private
